@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro:700|Kode%20Mono:400');

:root {
    --text: #dfeaf6;
--background: #00070f;
--primary: #81bcf3;
--secondary: #540292;
--accent: #eca53c;
--font-scale: 1.333;
--extra: #000a17;
}

body {
  font-family: 'Kode Mono';
  font-weight: 400;
  background: #00070f;
/*   display: flex; */
/*   flex-direction: column; */
  align-items: center;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: auto !important;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

.navbar {
    position: fixed;
    left: 2%;
    right: 2%;
    top: 0;
}

* {
    padding: 0%;
}

p {
    color: var(--text);
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro';
  font-weight: 700;
  color: var(--text)
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

.navmain {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
/*     filter: blur(3px) */
    border-radius: 0px 0px 10px 10px;
/*     border: 2px solid transparent; */
/*     border-image: linear-gradient(to bottom right, #81bcf3, #540292); */
/*     border-image-slice: 1; */


.navbartempfix {
    display:flex;
    flex-direction: column;
}

}

.navlink {
  float: left;
}

.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: transparent;
}

.navlink a:hover {
  background: linear-gradient(to top, rgba(129, 188, 243, .1), rgba(129, 188, 243, 0));
  border-radius: 0px 0px 10px 10px;
}

@keyframes fadeIN {
    from {
        background-position: 50% 150%;
    }
    to {
        background-position: 50% 200%;
    }
}
.gradcontain {
    background: linear-gradient(to bottom right, #81bcf3, #540292);
    border-radius: 0px 0px 10px 10px;
}

.gradcontent {
    padding: 0px 2px 2px 2px;
    border-radius: 0px 0px 10px 10px;
}

#scorner {
    border-radius: 25px;
    border: 2px solid #eca53c;/*Debug Border*/
}

main {
    display: flex;
    width: 100%;
    margin: 3% 5%;
}

.Bigtitle {
    font-size: 50px;
    color: white;
/*     border: 1px solid white;/*Debug Border*/ */
    width: 100%;
    padding-top: 10%;

}

.primary-div {
    display: flex;
    flex-direction: column;

}

.section1 {
    background: linear-gradient(0deg, rgba(2,0,36,1), rgba(2,49,86,1) 35%, var(--primary) 100%);
    width: 100%;
    min-height: 500px;
    top: 0;
/*     border: 1px solid white; *//*Debug Border */
    text-align: center;
/*     margin: 2rem 6rem; */
    flex-direction: row;
    justify-content: center;
}


.section2 {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(0, 0, 0) 100%);
    width: 100%;
    min-height: 500px;
    top: 0;
/*    border: 1px solid white;*//*Debug Border*/
    text-align: center;
/*     margin: 2rem 6rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section3 {
    background: linear-gradient(
  180deg,
  hsl(0deg 0% 0%) 5%,
  hsl(232deg 100% 2%) 21%,
  hsl(230deg 100% 2%) 32%,
  hsl(228deg 100% 2%) 40%,
  hsl(227deg 100% 2%) 48%,
  hsl(225deg 100% 2%) 55%,
  hsl(223deg 100% 2%) 62%,
  hsl(222deg 100% 2%) 68%,
  hsl(220deg 100% 2%) 74%,
  hsl(219deg 100% 3%) 80%,
  hsl(218deg 100% 3%) 85%,
  hsl(217deg 100% 3%) 89%,
  hsl(215deg 100% 3%) 93%,
  hsl(214deg 100% 3%) 96%,
  hsl(213deg 100% 3%) 99%,
  hsl(212deg 100% 3%) 100%
);
    width: 100%;
    min-height: 500px;
    top: 0;
/*    border: 1px solid white;*//*Debug Border*/
    text-align: center;
/*     margin: 2rem 6rem; */
    display: flex;
    flex-direction: column;
}

.section3sub {
    display:flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
}
.section3mini {
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
}
.section4 {
    background: #00070f;
    width: 100%;
    min-height: 500px;
    top: 0;
/*    border: 1px solid white;*//*Debug Border*/
    text-align: center;
/*     margin: 2rem 6rem; */
    display: flex;
    flex-direction: column;
}

footer {
    background: var(--background);
    width: 100%;
    min-height: 0px;
    top: 0;
/*    border: 1px solid white;*//*Debug Border*/
    text-align: center;
/*     margin: 2rem 6rem; */
    display: flex;
    flex-direction: column;
}

.footerpages {
    display: flex;
    min-height: 0px;
}

.footersvgscale {
    align-self: end;
    width: 3%;
    height: auto;
}

.footerC {
    display: flex;
    min-height: 5px;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    flex-direction: row;
}

.date {
    color: var(--text);
    margin-left: auto;
    margin-right: 3%;
}

.glink {
    margin-right: auto;
}

a {
    text-decoration: none;
}


select, textarea, input, button {
  font: inherit;
}

@media print {
  body {
    font-size: 8pt;
  }
}

html {
  font-size: 100%;
}

.rows {
    flex-direction: row;
}

.--text {
    color: var(--text);
}

.FancyText {
    font-family: 'Neon Rave';
    background: linear-gradient(90deg, rgba(255,113,206) 0%, rgb(1,205,254) 100%);
    background-clip: text;
    color: transparent;
    padding: 0%;
    margin-top: 0px;
}

.fancytextcontainer {
    display: flex;
    justify-content: center;
    padding: 0%;
}

.--background {
    color: var(--background)
}

.--primary {
    color: var(--primary)
}

.--secondary {
    color: var(--secondary)
}

.--accent {
    color: var(--accent)
}


.roundedimage {
    border-radius: 10px;
}

.--extra {
    color: var(--extra)
}


@font-face {
    font-family: 'Neon Rave';
    src: url('./Assets/NeonRave.woff2') format('woff2'),
        url('./Assets/NeonRave.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.section2img {
    transform: scale(75%);
    border-radius: 10px;
    border: 3px solid black;
}

.Ad {
    width: 50%;
    height: auto;
}

.Adimg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid lightblue;
}

.Adbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-basis: 0;
}

.Adtxt {
    color: #02408a;
}

.section3txt {
    background: linear-gradient(90deg, rgba(255,113,206) 0%, rgb(1,205,254) 100%);
    background-clip: text;
    color: transparent;
}
