* {
/*   margin: 0; */
/*   padding: 0; */
  box-sizing: border-box;
  background-color: #0b0503;
  font-family: "Anonymous Pro", monospace;
}

.menu-container {
    color: #fff;
/*     background-color: #5995DA; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    font-family: "Anonymous Pro", monospace;
}

.menu {
    display:flex;
/*     background: #1F2937; */
    border: 1px solid #fff;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 7%;
    padding-left: 7%;

}
.links {
    display: flex;
/*     background: #1F2937; */
    border: 1px solid #fff;
    justify-content: flex-end;
}
.Logo {
    display: flex;
    border: 1px solid #fff;
    font-size: 24px;
}

.link {
    display: flex;
    border: 1px solid #fff;
    justify-content: space-between;
    width: 75%;
}

.main-body-1 {
    display: flex;
    border: 1px solid #fff;
    width: 100%;
/*     margin: 2rem 6rem; */
/*     flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.main-body-1-text {
    display: flex;
    gap: 3em;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    line-height: 2;
    border: 1px solid #fff;
    text-align: center;
    flex: 0 0 300px;
}

h1 {
    color: #f5ede9;

}

h2 {
    color: #f5ede9;
}

body {
    margin: 0px;
}

main {
    margin: 40px
}


.big-text {
    font-size: 50px;
}
/* --text: #f5ede9; */
/* --background: #0b0503; */
/* --primary: #e39d83; */
/* --secondary: #8a3414; */
/* --accent: #f16834; */
/* another accent: #fa7736; */
