.container {
     display:flex;
     height:100;
     padding: 8px;
     background: black;
     border: 2px solid white;
     justify-content: flex-start;
     gap: 64px;
}

.item {
    background: gray;
    width: 80px;
    height: 60px;
    border: 1px solid white;
    background: gray;
}
